.keyboard {
    height: 63vh;
    max-height: 425px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 15px;
    padding: 25px 20px;
    background-color: transparent;
}